<template name="idea">
	<div class="idea clearfix">
	  <div class="idea-content clearfix">
	    <h4 class="title">{{title}}</h4>
	    <span class="author">{{author}}</span>
	  </div>
	  <a href="{{pathFor 'ideaPage'}}" class="details btn">Details</a>
	</div>
</template>

<template name="ideaDetailed">
	<div class="idea clearfix">
	  <div class="idea-content clearfix">
	    <h4>{{title}}</h4>
	    <p>{{author}}</p>
	    <p>
	    	<strong>Details: </strong>
	    	{{notes}}
	    </p>
	  </div>
	</div>
</template>