/* Ideas journal page */

.idea {
	padding: 30px 30px;
	background-image: -webkit-linear-gradient(left, transparent, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) 80%, transparent);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.idea-content {
	flex: 1;
	display:flex;
	.title {
		font: {
			size: 20px;
			weight: 300;
		}
		float: left;
	}
	.author {
    color: #aaa;
    display: block;
		float: left;
		margin: 5px 0 0 10px;
	}
}

.details{
	color: white;
}