/* Ideas journal page */

.idea {
  background: #eee;
	border-bottom: black solid 1px;
	padding: 10px 30px;
}

.idea-content {
  float: left;
	.title {
		float: left;
	}
	.author {
    color: #555;
    display: block;
    margin: 12px 0 0 10px;
		float: left;
	}
}

.details {
  float:right;
}